body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #B3E3F9;
  color: #000000;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}






.main {
  padding: 10px 80px;
  color: 006F84;
}

.gender h2 {
  font-size: 60px;
  border-bottom: 2px solid #dee7ec;
}


.genderpiechart {
  display: block;
  position: static;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-image: conic-gradient(
    red 230.4deg, 
    blue 0 360deg, 
    orange 0);
}

.genderpiechart li {
  padding-left: 400px;
  padding-top: 30px;
  list-style: none;

}

.genderpiechart span {
  color:red ; 
}
.genderpiechart span2 {
  color: blue;
}





.survival h2 {
  font-size: 60px;
  border-bottom: 2px solid #dee7ec;
}


.chart-wrap {
  margin-left: 50px;
  font-family: sans-serif;
  height: 650px;
  width: 300px;
}
.chart-wrap .title {
  font-weight: bold;
  font-size: 1.62em;
  padding: 0.5em 0 1.8em 0;
  text-align: center;
  white-space: nowrap;
}
.chart-wrap.vertical .grid {
  transform: translateY(-175px) translateX(175px) rotate(-90deg);
}
.chart-wrap.vertical .grid .bar::after {
  transform: translateY(-50%) rotate(45deg);
  display: block;
}
.chart-wrap.vertical .grid::before,
.chart-wrap.vertical .grid::after {
  transform: translateX(-0.2em) rotate(90deg);
}
.chart-wrap .grid {
  position: relative;
  padding: 5px 0 5px 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #aaa;
  background: repeating-linear-gradient(90deg, transparent, transparent 19.5%, rgba(170, 170, 170, 0.7) 20%);
}
.chart-wrap .grid::before {
  font-size: 0.8em;
  font-weight: bold;
  content: "0%";
  position: absolute;
  left: -0.5em;
  top: -1.5em;
}
.chart-wrap .grid::after {
  font-size: 0.8em;
  font-weight: bold;
  content: "100%";
  position: absolute;
  right: -1.5em;
  top: -1.5em;
}
.chart-wrap .bar {
  width: var(--bar-value);
  height: 50px;
  margin: 150px 0;
  background-color: #81F135;
  border-radius: 0 3px 3px 0;
}
.chart-wrap .bar:hover {
  opacity: 0.5;
}
.chart-wrap .bar::after {
  content: attr(data-name);
  margin-left: 100%;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
}





.embarked h2 {
  font-size: 60px;
  border-bottom: 2px solid #dee7ec;
}

.embarkedpiechart {
  display: block;
  position: static;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-image: conic-gradient(
    lightblue 252deg, 
    lightpink 0 326.16deg, 
    lightsalmon 0);
}

.embarkedpiechart li {
  padding-left: 400px;
  padding-top: 30px;
  list-style: none;
  font-family: sans-serif;

}

.embarkedpiechart span {
  color: lightblue; 
}
.embarkedpiechart span2 {
  color: lightpink;
}
.embarkedpiechart span3 {
  color: lightsalmon;
}








.age h2 {
  font-size: 60px;
  border-bottom: 2px solid #dee7ec;
}



.pclass h2 {
  font-size: 60px;
  border-bottom: 2px solid #dee7ec;
}









.footer {
  background-color: #001245;
  color: #fff;
  height: 100px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
